body{
    font-family: 'Kanit', sans-serif;
    background-size: 1500px 1000px;
  }
#logout{
    position: relative;
    left:650px;
    padding: 5px;
    font-size: 23px;

}
#obj{
    font-size: 40px;
    position: relative;
    margin-bottom: 20px;
    left: 700px;
    top: 20px;
    border-style:solid;
}   
#name-label{
    position: relative;
    left: 50px;
    top:30px;
    font-size: 30px;
}
#name{
    width: 400px;
    position: relative;
    left:50px;
    top:30px;
    font-size: 30px;
}
#code-label{
    position: relative;
    left: 50px;
    top:30px;
    font-size: 30px;
}
#code{
    width: 400px;
    position: relative;
    left: 50px;
    top:30px;
    font-size: 30px;
}
#faculty-label{
    position: relative;
    left: 50px;
    top:30px;
    font-size: 30px;
}
#faculty{
    width: 400px;
    position: relative;
    left: 50px;
    top:30px;
    font-size: 30px;
}
#department-label{
    position: relative;
    left: 50px;
    top:30px;
    font-size: 30px;
}
#department{
    width: 400px;
    position: relative;
    left: 50px;
    top:30px;
    font-size: 30px;
}
#email-label{
    position: relative;
    left: 700px;
    bottom:425px;
    font-size: 30px;
}
#email{
    width: 400px;
    position: relative;
    left: 700px;
    bottom:425px;
    font-size: 30px;
}
#submitinfo{
    position: relative;
    left: 970px;
    bottom: 400px;
    margin-bottom: 40px;
    font-size:30px;
}
/*nav link animation*/
.nav-link{
    font-size: 15px;
}
.nav-link span {
    cursor: pointer;
    position: relative;
    transition: 0.5s;
}

.nav-link span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.nav-link:hover span {
    padding-right: 25px;
}

.nav-link:hover span:after {
    opacity: 1;
    right: 0;
}